body {
    margin: 0;
    width: 100%;

    background-color: #efedd6;

    font-family: Arial, Helvetica, sans-serif;

    gap: 3vh;
    padding:3vh 0;

    overflow-x: hidden;
}

body,
div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div {
    color: white;
    background-color: #4682b4;

    height: 25vh;
    width: 50vh;

    border-radius: 8px;
    box-shadow: 3px 3px 3px gray;

    transition: .4s;
}

div:nth-child(odd) {
    transform: translateX(-100vw);
}


div:nth-child(even) {
    transform: translateX(100vw);
}

div.show {
    transform: translateX(0);
}

h1 {
    margin: 0;
}

p{
    font-size: 30px;
    font-weight: bolder;
}